// scss file for component based styles
html,
body {
    min-height: 100%;
    background: $brown-medium-light;
}

.loader-layover {
    position: fixed;
    width: 100%;
    height: 100%;
    background: $base-white;
    z-index: 99999;
    display: none;
    text-align: center;

    &.gone-1000 {
        transition: all .9s ease-in-out;
        @include opacity(0);
    }

    &.gone-500 {
        transition: all .5s ease-in-out;
        @include opacity(0);
    }

    &.gone-100 {
        transition: all .1s ease-in-out;
        @include opacity(0);
    }

    .progress {
        display: inline-block;
        width: 30%;
        background-color: $base-white;
        display: none;
        border: solid 1px $base-black;
        height: 5px;

        .indeterminate {
            background-color: $base-black;
        }
    }
}

// Navigation start page
nav {
    padding: 0px;
    height: 80px;
    box-sizing: border-box;
    color: $base-white;
}

.start nav {
    height: 120px;
    color: black;
}

.navbar {
    @extend %extend_smoothing;
    @extend %transition-normal;
    border: 0;
    font-size: 16px;
    text-align: center;

    #scrollspy-btn {
        color: white;
        float: right;
        margin: -58px 25px 0 0;
    }

    &.navbar-fixed-top {
        position: fixed;
        z-index: 999;
    }

    &:not(.navbar-transparent) {
        height: 80px;
    }

    &.navbar-default {
        //background-color: #ffffff;
        background: transparent;
        @include opacity(1.0);
    }

    .nav-wrapper {
        @extend %extend_smoothing;
        @extend %transition-normal;
        background: #fff;
        @include opacity(0.8);
        text-align: right;
        position: relative;
    }

    a:hover {
        text-decoration: none;
    }

    a.sidenav-trigger {
        @extend %extend_smoothing;
        @extend %transition-normal;
        position: absolute;
        top: 22px;
        right: 33px;

        i.material-icons {
            font-size: 2.1em;
            height: 0px;
            line-height: 1em;
        }

        color:$base-white;
        background: $brown-medium-light;
        z-index: 99;
        @include border-radius(3px);
        height:35px;
        padding:0px 5px 5px 5px;

        &:hover {
            color: $base-white;
        }

    }

    ul.horizontal-nav {
        @extend %extend_smoothing;
        @extend %transition-normal;
        top: 22px;
        position: absolute;
        right: 40px;

        a {
            color: $brown-medium;
            font-size: 1.2em;
            font-weight: $regular;
            padding: 5px 10px;
            margin-left: 3px;
            @include border-radius(2px);

            &:hover,
            &.active {
                text-decoration: none;
                background-color: $blue-medium_rgba_50;
            }
        }
    }

    a.modal-trigger {
        @extend %extend_smoothing;
        @extend %transition-normal;
        position: relative;
        left: 20px;
        margin-top: -57px;
        z-index: 90;
        float: left;
        color: $base-black;

        i.material-icons {
            display: inline-block;
            line-height: 1.5em;
        }
    }

    .modal {
        color: $base-black;
        text-align: left;

        .article-block {
            width: 100%;
        }

        .article-slice a {
            color: $base-black;
        }

        i.material-icons {
            display: inline-block;
            line-height: 1.5em;
        }

        .modal-footer {
            position: sticky;
            bottom: 0px;
            z-index: 99;
        }
    }

    .subnav {
        display: none;
    }

    .header-claim {
        @extend %extend_smoothing;
        @extend %transition-normal;
        font-size: 0.9em;
        top: -59px;
        left: 0px;
        position: relative;
        font-family: $header-font, $header-font-family;
        display: inline-block;
        color: $base-black;
        text-align: center;
        opacity: 1;

        h1.name {
            display: inline-block;
            padding-right: 10px;
        }

        h2.time {
            display: inline-block;
            font-size: 1.1em;
            padding-left: 10px;
        }
    }
}

.start .navbar {
    &.navbar-transparent {
        border-bottom: 1px solid transparent;
        @include box-shadow(none);

        .nav-wrapper {
            @include opacity(0.2);
            background-color: #000;
        }

        ul.horizontal-nav {
            top: 40px;

            a {
                color: $base-white;

                &:hover,
                &.active {
                    background-color: $base-brown_rgba_30;
                }
            }
        }

        a.sidenav-trigger {
            background: transparent;
            top: 40px;

            &:hover {
                background-color: $base-brown_rgba_30;
            }
        }

        a.modal-trigger {
            margin-top: -77px;
        }

        #scrollspy-btn {
            margin: -75px 25px 0 0;
        }

        .header-claim {
            @extend %extend_smoothing;
            @extend %transition-normal;
            top: -89px;
            left: 0px;
            font-size: 1.2em;
            color: rgba(255, 255, 255, 0.6);
            text-shadow: 0px 0px 5px rgba(221, 216, 216, 0.2);
            opacity: 0;
        }
    }
}

.sidenav {
    li a {

        &:hover,
        &.active {
            text-decoration: none;
            background: $brown-super-light;
        }
    }

    li.sidenav-title {
        div {
            padding: 20px 32px;
            background: $brown-super-light;
            height: 80px;
            box-sizing: border-box;
            cursor: pointer;
        }
    }

    li {
        a {
            height: auto;
            line-height: 2em;
            padding: 6px 32px;
        }
    }

    ul.subnav {

        a {
            padding-left: 55px;
        }
    }
}

body:not(.start) {

    .sidenav {
        li:not(.single-category) {
            display: none;
        }

        li.sidenav-title {
            display: block;
        }

        li.nav-tag {
            display: block;
        }
    }

    nav.navbar {
        a.sidenav-trigger.single-category {
            display: block;
            position: fixed;
            top: 100px;
            right: -3px;
            padding: 10px 20px;
            margin: 0px;
            height: auto;
            width: auto;
            float: none;
            line-height: 1em;

            &:hover {
                background-color: $base-brown_rgba_30;
            }
        }

    }
}

// Fixed start header image

.header-image-conatiner {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    //border-bottom: solid 60px $brown-medium-light;

    h2,
    h3,
    a {
        color: $base-white;
    }

    h3 {
        line-height: 2em;
    }

    .claim {
        text-align: left;
        top: 190px;
        left: 50%;
        margin-left: -488px;
        position: fixed;
        z-index: 3;
        box-sizing: border-box;
        padding: 10px 50px 10px 10px;
        font-size: 2.8em; // 2.1
        color: $base-white;
        font-family: $header-font, $header-font-family;
        text-shadow: 0px 0px 5px rgb(221, 216, 216);
        line-height: 1.05em;
        width: 488px;

        p {
            margin-top: -4px;
        }
    }

    .header-image-column-container {

        text-align: center;
        width: 650px;
        margin: -200px -325px 0 0;
        padding: 30px;
        box-sizing: border-box;
        right: 50%;
        top: 50%;
        position: fixed;
        z-index: 3;
        background: white;

        h1 {
            font-size: 3.1em;
            font-weight: $light;
            margin-bottom: 20px;
            line-height: 1.1em;
            color: $base-black;
        }

        h2 {
            font-weight: $bold;
            font-size: 1.2em;
            color: $base-black;
        }

        p {
            font-size: 1.3em;
        }

        a {
            border: $base-white 1px solid;
            @include border-radius(3px);
            padding: 10px 30px;
            position: relative;

            i.material-icons {
                vertical-align: -5px;
                padding-right: 7px;
            }

            &:hover {
                background-color: rgba(0, 0, 0, 0.2);
                text-decoration: none;
            }
        }

    }

    .header-image-column {
        margin-top: 20px;
        width: 50%;
        text-align: left;

        &.all-width {
            width: 100%;
            text-align: center;
        }
    }
}

.header-image-fixed {
    width: 110%;
    height: 110%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    background-attachment: fixed;
}

.header-image-bottom {
    width: 100%;
    position: absolute;
    bottom: 0px;
    height: 80px;
    background: transparent;
    // border-left-style: solid;
    // border-left-width: 96vw;
    // border-left-color: white;
    // border-top-style: solid;
    // border-top-width: 80px;
    // border-top-color: transparent;
    box-sizing: border-box;
    z-index: 3;
}

.pattern-image {
    width: 100%;
    background-size: 100%;
}

.pattern-image:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    content: "";
    opacity: .4;
    background: url('../assets/img/pattern-black.png');
    //background: url('../assets/img/pattern-orange.png');
    //background: url('../assets/img/pattern-white-clear.png');
}

// Parallax
.parallax-container {
    position: relative;
    overflow: hidden;
    height: 350px;
}

// font icons https://icomoon.io/#preview-ultimate
// equalizer4, vector

.collection-container {
    display: block;
    padding: 20px;
    box-sizing: border-box;
}

.section-image-top {
    width: 100%;
    position: relative;
    top: 0px;
    height: 80px;
    background: white;
    border-left-style: solid;
    border-left-width: 100vw;
    border-left-color: transparent;
    border-top-style: solid;
    border-top-width: 80px;
    border-top-color: $brown-super-light;
    box-sizing: border-box;
    z-index: 3;
}

// Layout 
main {
    padding: 70px 0 0 0;
    min-height: calc(100% - 400px);
    background: white;
}

.start main {
    padding: 0px 0 0 0;
}

.article-section {
    background: $base-white;
    position: relative;
    z-index: 4;
    padding-bottom: 20px;
    margin-bottom: 0px;

    .collection .collection-item,
    li {
        line-height: 1.7em;

        h3 {
            margin: 0px;
            padding: 0 10px;
        }
    }

    .article-slice {
        background: $base-white;
        margin: 10px 0;
        padding: 0px 0 10px 0px;

        h2,
        h3,
        p {
            padding-left: 50px;
            padding-right: 50px;

        }

        .col {
            padding: 0px;
        }

        .col.m6:nth-of-type(even) {
            padding-left: 10px;
        }

        .col.m6:nth-of-type(odd) {
            padding-right: 10px;
        }

        img {
            text-align: center;
        }

        audio {
            width: 100%;
        }

    }

    &.parallax {
        background: none;

        .col {
            padding-left: 0px;
            padding-right: 0px;
        }

        .article-slice {
            background: none;

            h2,
            h3,
            p {
                padding-left: 60px;
                padding-right: 60px;

            }
        }
    }

    .parallax {
        &.unicolored {
            background-color: $blue-medium !important;
        }

        h1.parallax-title {
            font-size: 2.6em;
            text-align: center;
            color: $base-white;
            margin: 140px 0 0 0;
        }
    }

    &.teaser .col {


        margin: 10px 0;

        img {
            //width: 100%;
            margin-bottom: 10px;
        }

        &.l6 {
            .teaser-text {
                min-height: 170px;
            }
        }

        h2,
        p {
            padding-left: 0px;
            padding-right: 0px;
            box-sizing: border-box;
        }

        button {
            margin: 20px 0px;
        }
    }

    .topic {

        border-bottom: 7px $blue-light solid;
        height: 26px;
        margin: 20px 0 30px 0;
        box-sizing: border-box;
        width: calc(100% - 12px);
        display: inline-block;
        background: transparent;

        p {
            font-size: 2.3em;
            font-family: $header-font, $header-font-family;
            font-weight: $bold;
            color: $blue-light;
            background-color: $base-white !important;
            padding: 0px 20px 0px 10px;
            display: inline-block;

            &.appointment-date {
                display: block;
                font-size: 1.7em;
                margin-top: 5px;
                margin-left: 52px;
                line-height: 1.2em;
            }
        }

        i {
            font-size: 0.5em;
            vertical-align: 4px;
            padding: 10px;
            box-sizing: border-box;
            color: $base-white;
            background: $blue-light;
            @include border-radius(50px);
        }

    }

    a.link-img {
        text-decoration: none;

        &:hover {

            h2,
            p {
                text-decoration: none;
            }

            .link-img-wrapper .link-img-triangle-fx {

                &.col1 {
                    border-width: 0px 500px 45px;
                }

                &.col2 {
                    border-width: 0px 244px 45px;
                }

                &.colm {
                    border-width: 0px 150px 45px;
                }

                transform: rotateX(0) rotateY(0) rotateZ(0);
            }

            .link-img-wrapper {
                img {
                    transform: scale(1.1, 1.1);
                }
            }
        }

        .link-img-wrapper {

            overflow: hidden;
            position: relative;
            margin-bottom: 30px;

            &.fixed-height {
                height: 300px;
                overflow: hidden;
            }

            .link-img-triangle-fx {
                position: absolute;
                bottom: -1px;
                z-index: 1;
                backface-visibility: hidden;
                border-style: solid;
                border-width: 0px 0px 0px;
                display: inline-block;
                height: 0;
                width: 0;
                border-color: transparent transparent #FFF;
                -ms-transform-origin: center bottom;
                transform-origin: center bottom;
                transform: rotateX(90deg) rotateY(0) rotateZ(0);
                transition: transform 350ms ease-in-out;
            }

            img {
                transition: all .2s ease-in-out;
                -ms-transform: scale(1, 1);
                transform: scale(1, 1);
                margin-bottom: -7px;
            }
        }

    }
}

.row.article-section:not(.teaser) {

    .article-slice {

        h2,
        h3,
        p {
            padding-left: 0px;
            padding-right: 0px;

        }
    }

    .article-block .col {
        padding-left: 0px;
        padding-right: 0px;
    }
}

.colored-section {

    background-color: $brown-super-light !important;

    .section-image-top {
        //background-color: $brown-super-light !important;
        border-top-color: transparent;
        border-left-color: $brown-super-light;
    }

    &.teaser .col {

        h2,
        p {
            padding-left: 43px;
            padding-right: 43px;
            box-sizing: border-box;
        }
    }

    .article-slice.subject {
        background-color: $brown-super-light;
        padding-top: 0px;
        padding-bottom: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .topic {

        border-bottom: 7px $brown-medium-light solid;
        background: transparent;

        p {
            color: $brown-medium-light;
            background-color: $brown-super-light !important;
        }

        i {
            background: $brown-medium-light;
        }

    }
}

.article-section.first {

    .section-image-top {
        border-top-color: white;
    }
}

i.expired {
    display: none;
    position: absolute;
    font-size: 3.8em;
    color: $topic-orange;
    z-index: 99;
    margin: 3px 0 0 -4px;
    font-weight: $bold;
}

.article-section.appointment-expired {

    .topic {
        border-bottom: 7px solid transparent;

        p {
            text-decoration: line-through;
        }
    }

    i.expired {
        display: block;
        opacity: 1;
    }
}

.article-block {
    width: 100%;
    box-sizing: border-box;
    width: 768px; // tinier for default page + menu
    margin: 0 auto 0 auto;
}

.start,
.article-section.tag {

    .article-block {
        width: 1024px;
    }
}

iframe {
    margin: 10px 0 20px 0;
}

aside nav#sub-nav-aside {
    position: relative;
    width: auto;
    display: block;
    border-bottom: 1px #fff;
    border-bottom-style: solid;
    padding: 30px 0 0 0;
    @include opacity(0);
}

// Masonry galery 

.grid {
    //width:calc(100% - 40px);
    visibility: hidden;
    width: 768px;
    box-sizing: border-box;
    margin: 0 auto;
}

.grid-sizer,
.grid-item {

    width: 25%;
    height: 192px;
    overflow: hidden;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px dotted white;

    img {
        transition: all .2s ease-in-out;
        -ms-transform: scale(1, 1);
        transform: scale(1, 1);
        text-align: center;
        margin-left: -40px;

        &:hover {
            transform: scale(1.1, 1.1);
        }

    }

    &.vertical img {
        margin-left: 0px;
    }
}

/* 2 columns */
.grid-item--width2 {
    width: 50%;

    img {
        margin-top: 0;
        margin-left: 0px;
    }
}

/* 3 columns */
.grid-item--width4 {
    width: 100%;

    img {
        margin-left: 0%;
        margin-top: -20%;
    }
}

.grid-item--height2 {
    height: 400px;
}

// Tags

.nav-tag {
    a {
        padding: 8px;
        margin: 5px;
        @include border-radius(2px);
        background: $brown-medium-light;
        border: solid 1px $base-white;
        white-space: nowrap;
        display: inline-block;
        text-decoration: none;

        &:hover,
        &.active {
            background: $brown-medium-super-light;
        }
    }
}

.header-image-conatiner {
    .nav-tag {
        padding: 0px;
        margin-left: -3px;

        a {
            padding: 3px 8px;
            font-size: 0.8em;
            font-weight: $regular;
            background-color: rgba(0, 0, 0, 0.1);
            margin: 3px;

            &:hover {
                background-color: rgba(0, 0, 0, 0.2);
            }
        }
    }
}

.sidenav {
    li.nav-tag {
        line-height: 1em;

        .nav-tag {
            padding: 30px 20px 10px 20px;

            a {
                padding: 2px 5px;
                margin: 2px;
                @include border-radius(2px);
                background: $brown-medium-light;
                border: solid 0px $base-white;
                white-space: normal;
                display: inline-block;
                text-decoration: none;
                color: $base-white;
                font-size: 0.8em;
                line-height: 2.2em;

                &:hover,
                &.active {
                    background: $brown-medium-super-light;
                }

            }
        }
    }
}

.rdpl_blog_post_container {
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    z-index: 99;
    width: 100%;
    padding: 0px 20px;
    text-align: center;
    background: white;

    .row .col {
        padding: 0px 0px;
    }

    &#rdpl_blog_post_response_container {
        display: none;
    }

    .rdpl_menu_bar {
        display: inline-block;
        width: 800px;
        padding: 0px 0px 30px;
        box-sizing: border-box;
        text-align: left;
        background: url('../assets/img/pattern-black-2.png') repeat-x bottom;
    }

    #rdpl_blog_post_response_msg {
        &.ok {
            color: $base-blue;
        }

        &.warn {
            color: $input-error;
        }

        float: right;
    }

    .rdpl_post_item {
        position: relative;
        margin: 0 auto;
        width: 800px;
        padding: 20px 0px;
        box-sizing: border-box;
        text-align: left;
        background: url('../assets/img/pattern-black-2.png') repeat-x bottom;

        &.response {
            padding-left: 10px;
            padding-right: 10px;
            background-color: $blue-super-light;
        }

        &.delete {
            height: 100px;
            text-align: center;
            background-color: $input-error-light;

            i {
                font-size: 3em;
                color: white;
            }
        }

        &.confirm {
            padding-bottom: 20px;
            padding-top: 20px;

            i {
                padding-right: 20px;
                font-size: 2em;
            }
        }
    }

    .col {
        margin: 0px;

        &.right {
            text-align: right;
        }
    }
}

.rdpl_blog_post_form_delete {
    .col {
        margin: -3px 0 0 0;
    }
}

.rdpl_blog_post_form_container {
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
    text-align: center;
    position: relative;
    z-index: 95;
    background: white;

    #rdpl_blog_post_form_response_msg {
        display: none;
        padding: 10px;
        background: $input-error-light;
        color: white;
        margin-bottom: 5px;
    }

    form {
        display: inline-block;
        position: relative;
        z-index: 95;
        margin-top: -50px;
        width: 800px;
        padding: 20px;
        box-sizing: border-box;
        background: white;
        @include box-shadow(0px 7px 13px -7px rgba(0, 0, 0, 0.75));
    }

    .captcha-row {
        padding-left: 25px;

        .captcha-col {
            background: #f8f8f8;
            text-align: center;
        }
    }

    .col {
        text-align: left;
    }

    .submit-row .col {
        text-align: center;
    }

    span.refresh {
        text-align: left;
        color: $black-super-light;

        i {
            vertical-align: -3px;
            font-size: 0.95em;
        }

        a {
            font-size: 0.95em;
            color: $black-super-light;
        }
    }

    /* label color */
    .input-field label {
        color: #000;
    }

    /* label focus color */
    .input-field input[type=text]:focus+label,
    .input-field input[type=email]:focus+label,
    .input-field textarea:focus+label {
        color: $black-light;
    }

    /* label underline focus color */
    .input-field input[type=text]:focus,
    .input-field input[type=email]:focus,
    .input-field textarea:focus {
        border-bottom: 1px solid $black-light;
        box-shadow: 0 1px 0 0 $black-light;
    }

    /* valid color */
    .input-field input[type=text].valid,
    .input-field input[type=email].valid,
    .input-field textarea.valid {
        border-bottom: 1px solid $black-light;
        box-shadow: 0 1px 0 0 $black-light;
    }

    /* invalid color */
    .input-field input[type=text].invalid,
    .input-field input[type=email].invalid,
    .input-field textarea.invalid {
        border-bottom: 1px solid $input-error;
        box-shadow: 0 1px 0 0 $input-error;
    }

    /* icon prefix focus color */
    .input-field .prefix.active {
        color: $black-light;
    }
}

.rdpl_blog_post_list_preloader {
    position: fixed;
    height: 60px;
    width: 100%;
    background: rgba(0, 0, 0, 0.9);
	bottom: 0px;
	display:none;
    z-index: 100;
    text-align: center;
    padding: 15px 0 0 0;

    .preloader-wrapper.active {
        display: inline-block;
    }

    .spinner-blue,
    .spinner-blue-only {
        border-color: $base-white;
    }
}


// Footer

footer {
    background: $base-black;
    color: $base-white;
    position: relative;
    min-height: 60px;
    z-index: 99;
    text-align: center;
    box-sizing: border-box;
    padding: 20px;

    .footer-left {
        width: 230px;
        display: inline-block;
        box-sizing: border-box;
        vertical-align: top;
    }

    .footer-right {
        width: 230px;
        display: inline-block;
        vertical-align: top;
        box-sizing: border-box;
        text-align: right;

        p {
            text-align: right;
        }

        .social-link {
            display: inline-block;
            text-align: right;
            margin-top: 150px;

            a {
                text-align: right;
            }
        }
    }

    nav {
        display: inline-block;
        width: 530px;
        text-align: center;
        vertical-align: top;
        background: transparent;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        height: auto !important;
    }


    p {
        font-size: 0.8em;
        font-weight: $regular;
        line-height: 1.8em;
        margin-bottom: 10px;
        text-align: left;
        font-family: $header-font, $header-font-family;

        &.footer-title,
        &.footer-title a {
            font-weight: $bold;
        }
    }

    a {
        color: $base-white;
        text-decoration: none;
        font-size: 0.9em;

        &:hover {
            text-decoration: underline;
            color: $base-white;
        }
    }

}

@media only screen and (max-width: 1024px) {

    /* For mobile phones: */
    .start .article-section,
    .article-section {
        width: 100%;
    }

    /* For mobile phones using grid layout to be able to flip the order of columns: */
    .article-section {

        [class*="col"] {
            width: 100%;
        }

        display: inline-grid;
        grid-template-areas: "first";

        .col.l3 {
            grid-area: first;
        }

        .col {
            img {
                width: 100%;
            }
        }

        .article-slice {
            padding-left: 10px;
            padding-right: 10px;

            .col.m6:nth-of-type(even) {
                padding-left: 0px;
            }

            .col.m6:nth-of-type(odd) {
                padding-right: 0px;
            }

            .col.m6 {
                width: 100%;
            }
        }

        a.link-img {
            &:hover {
                .link-img-wrapper .link-img-triangle-fx {
                    &.col1 {
                        border-width: 0px 0px 0px;
                    }

                    &.col2 {
                        border-width: 0px 0px 0px;
                    }

                    &.colm {
                        border-width: 0px 0px 0px;
                    }
                }
            }
        }

    }

    .start .article-block,
    .article-block,
    .article-section.tag .article-block {
        width: 100%;
    }

    .start nav {
        height: 120px;
    }

    .start .navbar {
        &.navbar-transparent {
            .header-claim {
                top: -80px;
                //font-size: 4.3em;
            }
        }
    }

    body:not(.start) {

        .sidenav {
            li.single-category {
                display: none;
            }

            li:not(.single-category) {
                display: block;
            }
        }
    }

    nav.navbar {
        a.sidenav-trigger {
            right: 23px;
            margin-right: 0px;
            display: none;

            &:hover {
                background-color: $brown-medium_rgb_50;
            }
        }

        a.sidenav-trigger.single-category {
            display: none !important;
        }

        ul.horizontal-nav {
            display: none;
        }
    }

    aside nav#sub-nav-aside {
        border-bottom-style: dashed;
        padding: 0px 0 0 0;
    }

    .header-image-conatiner {
        .claim {
            width: 50%;
            left: 0px;
            margin-left: 0px;
            padding-left: 20px;
            font-size: 2em;
            margin-top: 0px;
        }

        .header-image-right-column {
            width: 50%;
            margin-right: 0px;
            right: 0px;

            h2 {
                font-size: 2em;
            }
        }
    }

    .grid {
        width: calc(100% - 20px);
    }

    .rdpl_blog_post_form_container {
        padding: 20px;

        form {
            width: 100%;

            .col {
                width: 100%;
            }
        }
    }

    .rdpl_blog_post_container {

        .rdpl_menu_bar {
            width: 100%;
            box-sizing: border-box;
        }

        .rdpl_post_item {
            width: 100%;
            box-sizing: border-box;
        }

    }

    footer {

        display: inline-grid;
        grid-template-areas: "first";
        width: 100%;

        .footer-left,
        .footer-right {
            display: block !important;
            width: 100% !important;
            text-align: center !important;

            .social-link {
                margin-top: 40px !important;
            }

            p {
                text-align: center !important;
            }
        }

        nav {
            grid-area: first;
            margin: 0 auto;
            margin-bottom: 40px;
        }
    }
}

@media only screen and (max-width: 768px) {
    nav.navbar .header-claim {
        float: left;
        margin-left: 60px;

		h1.name{
			font-size:1.9em;
		}
        h2.time {
            display: none;
        }
    }

    .header-image-conatiner {
        .claim {
            font-size: 1.8em;
        }

        .header-image-column-container {
            width: 100%;
            margin-right: 0px;
            right: 0px;

            h1 {
                font-size: 1.8em;
            }

            h2 {
                font-size: 1.1em;
            }

            p {
                font-size: 0.8em;
            }
        }

    }

    footer {
        nav {
            width: 100% !important;
        }
    }

}

@media only screen and (max-width: 600px) {

    .start .navbar {
        &.navbar-transparent {
            .logo {
                top: -80px;
                font-size: 2.1em;
            }
        }
    }

    .header-image-conatiner {
        .claim {
            display: none;
        }

        .header-image-right-column {
            width: 100%;
            padding: 0px 20px;
            text-align: center;

            h2 {
                font-size: 1.8em;
            }

            h3 {
                font-size: 0.8em;
            }

        }
    }
}